[Desktop Entry]
Type=Application

# The parameter is the time in seconds until the first wallpaper update.
Exec=/usr/local/bin/wallup 120

Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Wallup
Name=Wallup
Comment[en_US]=Update wallpaper periodically
Comment=Update wallpaper periodically
